html<h2>Bookings</h2>
<a href="/create">+ New</a> | <a href="/logout">Logout</a>
<ul>
<% bookings.forEach(b => { %>
  <li>
    <%= b.name %> (<%= b.pax %>p) @ <%= b.date %> <%= b.time %>
    <a href="/details/<%= b._id %>">View</a>
    <a href="/delete/<%= b._id %>" onclick="return confirm('Delete?')">Delete</a>
  </li>
<% }) %>
</ul>

